header{ background-color: #6495ED; color:#FDF5E6}

#image{max-width: 100%;
  height: auto;width: 100%;object-fit: cover;padding: 10 10}

  #title {display: flex;justify-content: center;padding: 10;align-items: center;}

 #img-div {display: flex;justify-content: center;align-items: center; flex-direction: column;}

 #tribute-info{padding: 20; font-size: 18; font-weight: 400;
 font-family: 'Lucida Handwriting'}


#img-caption{padding: 30 10; font-size: 18; font-weight: 400;
 font-family: 'Lucida Handwriting'}

h2{text-align: center;color:#6495ED}
section{display: flex;justify-content:center;flex-direction: column;line-height: 2.4;background-color: #F0F8FF; color:#6495ED;font-size: 16; }

footer{background-color: #6495ED; padding:20; text-align: center;}